@using System.Security.Claims
@model MovieCatalog.Application.Movies.ViewModels.MoviesViewModel

@{
    ViewData["Title"] = "Movie Catalog";
}

@{
    var userId = User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier)?.Value;
}

<div class="cards">
    @foreach (var movie in Model.Movies)
    {
        <div class="card" style="width: 18rem; background: #190649">
            <a asp-controller="Movie" asp-action="Details" asp-route-movieId="@movie.Id">
                <img src="@Url.Content(movie.ImagePath)" class="img-fluid card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">@movie.Title</h5>
                <p class="card-text">
                    @(
            movie.Description.Length > 15
                ? movie.Description.Substring(0, movie.Description.Length - 1) + "..."
                : movie.Description
                        )
                </p>
                @if (userId == movie.User.Id)
                {
                    <div class="card-buttons">
                        <a asp-controller="Movie" asp-action="Edit" asp-route-movieId="@movie.Id"
                           class="btn btn-warning">
                            Редактировать
                        </a>
                        <a asp-controller="Movie" asp-action="Remove" asp-route-movieId="@movie.Id"
                           class="btn btn-danger">
                            Удалить
                        </a>
                    </div>
                }
            </div>
        </div>
    }
</div>

<nav aria-label="Page navigation" class="mt-5">
    <ul class="pagination justify-content-center">
        @if (Model.PageInfo.TotalPagesCount > 5)
        {
            var offset = Model.PageInfo.CurrentPageNumber;
            var inc = 5;
            switch (Model.PageInfo.CurrentPageNumber)
            {
                case 1:
                    inc = 4;
                    offset -= 1;
                    break;
                case > 1:
                    offset -= 2;
                    inc = 3;
                    break;
            }

            if (Model.PageInfo.CurrentPageNumber > 3)
            {
                <li class="page-item">
                    <a asp-controller="Movie" asp-action="Index" asp-route-pageNumber="0" class="page-link">
                        i = 0
                    </a>
                </li>
            }
            for (var i = offset; i < Model.PageInfo.CurrentPageNumber + inc; i++)
            {
                var inner = i;
                <li class="page-item @(Model.PageInfo.CurrentPageNumber == i ? "active" : null)">
                    <a asp-controller="Movie" asp-action="Index" asp-route-pageNumber="@i" class="page-link">
                        @inner
                    </a>
                </li>
            }
            <li class="page-item">
                <a
                    asp-controller="Movie"
                    asp-action="Index"
                    asp-route-pageNumber="@Model.PageInfo.NextPageNumber" class="page-link">
                    i++
                </a>
            </li>
        }
        else
        {
            for (var i = 0; i < Model.PageInfo.TotalPagesCount; i++)
            {
                var inner = i;
                <li class="page-item @(Model.PageInfo.CurrentPageNumber == i ? "active" : null)">
                    <a asp-controller="Movie" asp-action="Index" asp-route-pageNumber="@i" class="page-link">
                        @inner
                    </a>
                </li>
            }
        }
    </ul>
</nav>